/* all elements with class=“craig” that are nested within the one element with id=“cage” */
#cage .craig {
  color: orange;
  font-weight:bold;
}

#cage b.craig {
  color: #0000CC;
  font-weight:bold;
}

/* a much more complex example, but not actually used in our html */
#cage p b.craig:first {

}
